* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0 , 0.1); 
}

.input-section {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    border-radius: 5rem;
}

#taskList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 1rem;
}
#addBtn {
    background-color: gray;
    color: white;
    border-radius: 0.3rem;
}